<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtP9AX78kgnm-sthWoHpi0uQIjbI18StE</string>
	<key>GCM_SENDER_ID</key>
	<string>923079110707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.all.view.document.dev</string>
	<key>PROJECT_ID</key>
	<string>app-365-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>app-365-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923079110707:ios:4a4ce7dd136bf8c1537346</string>
</dict>
</plist>